div.d {
    outline-style: solid;
    padding: 20px;
}

div.a {
    outline-style: solid;
    background-color: rgb(60, 200, 232);
    width: 700px;
    padding: 1px;
    z-index: 1;
}

div.b {
    position: absolute;
    z-index: 2;
    left: 300px;
    top: 150px;
    /*bottom: 50px;*/
    outline-style: solid;
    background-color: red;
    background-image: linear-gradient(blue, red, lightgreen);
    color: black;
    width: 700px;
    padding: 1px;
}

div.c {
    outline-style: solid;
    background-color: red;
    background-image: radial-gradient(red, yellow, green);
    color: black;
    width: 700px;
    padding: 1px;
}