* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 0;
}

header {
    width: 100%;
    max-width: 900px;
    margin: auto;
}

nav {
    position: relative;
    top: 0px;
    margin: auto;
}

nav a {
    text-decoration: none;
    color: inherit;
    font-size: 14px;
}

nav li {
    display: inline-block;
    width: 150px;
    height: 30px;
    padding: 5px 10px;
    text-align: center;
    background-color: #b52a2a;
    border: 1px solid #b12626;
    border-radius: 12px;
    color: yellow;
}

nav li:hover {
    background-color: #fff;
    color: #000;
}

nav li>ul {
    position: absolute;
    left: 0px;
    top: 30px;
    display: block;
}

nav li>ul {
    display: none;
}

nav li:hover>ul {
    display: block;
}